{% assign cols = include.cols | default: 1 %}

<div class="image-grid cols-{{ cols }}">

    {% if include.img1 %}
    <img src="{{ '/assets/maker/' | append: include.img1 | relative_url }}" alt="" class="{{ include.img1_class }}">
    {% endif %}

    {% if include.img2 %}
    <img src="{{ '/assets/maker/' | append: include.img2 | relative_url }}" alt="" class="{{ include.img2_class }}">
    {% endif %}

    {% if include.img3 %}
    <img src="{{ '/assets/maker/' | append: include.img3 | relative_url }}" alt="" class="{{ include.img3_class }}">
    {% endif %}

    {% if include.img4 %}
    <img src="{{ '/assets/maker/' | append: include.img4 | relative_url }}" alt="" class="{{ include.img4_class }}">
    {% endif %}

    {% if include.img5 %}
    <img src="{{ '/assets/maker/' | append: include.img5 | relative_url }}" alt="" class="{{ include.img5_class }}">
    {% endif %}

    {% if include.img6 %}
    <img src="{{ '/assets/maker/' | append: include.img6 | relative_url }}" alt="" class="{{ include.img6_class }}">
    {% endif %}

</div>