.image-grid {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
  grid-auto-rows: minmax(150px, auto);
}

.image-grid.cols-1 {
  grid-template-columns: 1fr;
}

.image-grid.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.image-grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.image-grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.image-grid.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}


.image-grid.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.image-grid.cols-1 img {
  width: 85%;
  height: auto;
}

/* Mobile safety */
@media (max-width: 768px) {
  .image-grid.cols-2,
  .image-grid.cols-3,
  .image-grid.cols-4,
  .image-grid.cols-5,
  .image-grid.cols-6 {
    grid-template-columns: 1fr;
  }
}

.responsive-video {
  width: 75%; /* 75% of parent container */
  aspect-ratio: 16/9; /* keeps 16:9 ratio automatically */
  display: block;
  margin: 0 auto; /* center horizontally */
  max-width: 100%; /* prevents overflow on small screens */
}
