.image-grid {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
  /* grid-auto-rows: minmax(150px, auto); */
}

.image-grid.cols-1 {
  grid-template-columns: 1fr;
}

.image-grid.cols-2 {
  grid-template-columns: repeat(12, 1fr);
}

.image-grid.cols-3 {
  grid-template-columns: repeat(18, 1fr);
}

.image-grid.cols-4 {
  grid-template-columns: repeat(24, 1fr);
}

.image-grid.cols-5 {
  grid-template-columns: repeat(30, 1fr);
}

.image-grid.cols-6 {
  grid-template-columns: repeat(36, 1fr);
}

.image-grid img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  grid-column: span 6;
  align-self: center;
}

.image-grid.cols-1 img {
  width: 85%;
  height: auto;
  grid-column: span 1;
}

.image-grid img.wide {
  grid-column: span 8;
}

.image-grid img.tall {
  grid-column: span 4;
}

/* Mobile safety */
@media (max-width: 768px) {
  .image-grid.cols-2,
  .image-grid.cols-3,
  .image-grid.cols-4,
  .image-grid.cols-5,
  .image-grid.cols-6 {
    grid-template-columns: 1fr;
  }
}

.responsive-video {
  width: auto; /* 75% of parent container */
  aspect-ratio: 16/9; /* keeps 16:9 ratio automatically */
  display: block;
  margin: 0 auto; /* center horizontally */
  max-width: 100%; /* prevents overflow on small screens */
}
